<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="about.component.css">
  <title>About us</title>
</head>
<body>
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="allText bottomText">
        <p class="text-blk subHeadingText">
            The Dimensional Nutritions family
        </p>
        <p class="text-blk description">
            With our products, we keep our athletes in good shape. We offer high quality products available to all athletes who want to have a stunning body. Anyone can order a variety of products available on our site.
        </p>
        <a>
          <button class="explore">
            View More
          </button>
        </a>
        <marquee behavior="" direction="">You can view more about our products, if you make you account.</marquee>
      </div>
      <div class="videoContainer">
        <iframe allowfullscreen="allowfullscreen" class="mainVideo" controls="controls" src="/assets/video.mp4" muted>
        </iframe>
      </div>
    </div>
  </div>
</body>
</html>

