footer {
	background: rgb(243, 243, 243);
  	background: linear-gradient(90deg, rgba(206,206,215,1) 0%, rgb(255, 255, 255) 47%, rgb(210, 212, 213) 100%);
	width:100%;
	text-align:center;
    background-color: black;
	position: relative;
}
footer span {
	display:block;
}
footer .inner {
	padding:0 10px;
}
.footer-bg {
	width:100%;

	padding:20px 0 20px;
}
.list-services {
	padding:0;
}
.list-services li {
	float:left;
	padding:0 0 0 10px;
}
