
<body>
  <div class="container">
    <div class="login-box">
      <form class="register" [formGroup]="form" (ngSubmit)="register()">
          <div class="input-box">
              <input           class="input-error"
              type="text"
              name="username"
              id="username"
              formControlName="username"
              />
              <ng-container *ngIf="form.get('username')?.touched">
                <p class="error" *ngIf="form.get('username')?.errors?.['required']">
                  Username is required!
                </p>
                <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                  Username's length should not be less than 5!
                </p>
              </ng-container>
              <label>Username</label>
            </div>
            <div class="input-box">
              <input 
              type="text"
              name="tel"
              id="tel"
              formControlName="tel">
              <label>Phone Number</label>
            </div>
        <div class="input-box">
          <input type="email" 
          type="email"
          name="email"
          id="email"
          formControlName="email"
          />
          <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
              Email is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('email')?.errors?.['appEmailValidator']"
            >
              Email is not valid!
            </p>
          </ng-container>
          <label>Email</label>
        </div>
        <ng-container formGroupName="passGroup">
        <div class="input-box">
          <input type="password"
          type="password"
          name="password"
          id="password"
          formControlName="password"
          />
          <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
            <p
              class="error"
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
            >
              Password is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
            >
              Password must be at least
              {{
                form.get('passGroup')?.get('password')?.errors?.['minlength']?.['requiredLength']
              }}
              characters!
            </p>
          </ng-container>
          <label>Password</label>
        </div>
        <div class="input-box">
          <input type="password"
          type="password"
          name="rePassword"
          id="rePassword"
          formControlName="rePassword"
          />
          <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
            <p
              class="error"
              *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
               form.get('passGroup')?.get('rePassword')?.errors?.['required']"
            >
              Repeat Password does not match password!
            </p>
          </ng-container>
          <label>Conifirm Password</label>
        </div>
      </ng-container>
        <button [disabled]="form.invalid" class="btn">Register</button>
        <div class="signup-link">
          <button  class="btn" routerLink="/login">Login</button>
        </div>
      </form>
    </div>
  </div>
  </body>