.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 0.7em;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
  }
  
  .button-like.liked,span {
    border-color: #cc4b37; /* променете цвета на границата на бутона при активация на класа "liked" */
  }
  
  .button-like .fa,
  .button-like span {
    transition: all ease 0.4s;
  }
  
  .button-like .fa {
    color: #8a8a8a;
  }
  
  .button-like span {
    color: #8a8a8a;
    margin: 1em;
  }
  
  .button-like.liked .fa {
    color: #cc4b37;
  }
  
  .button-like.liked span {
    color: #cc4b37; 
  }