<!-- <section id="content">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_12">
          <h3>Featured Products</h3>
          <div class="wrapper">
            <div class="grid_6 alpha">
              <div class="indent-right">
                <div class="wrapper p3">
                  <figure class="img-indent"><img src="/myproject/src/images/pure whey_double_chocolate2280.jpg" alt="Protein"></figure>
                  <div class="extra-wrap">
                    <h5 class="prev-indent-bot">Et accusam et justo duo dolores et ea rebum stet clita kasd.</h5>
                    <p class="indent-bot">Gubergren no sea takmata sanctus est Lorem ipsum dolor ametorem ipsum dolor.</p>
                    <a class="button" href="#">More</a> </div>
                </div>
                <div class="wrapper">
                  <figure class="img-indent"><img src="images/page4-img2.jpg" alt=""></figure>
                  <div class="extra-wrap">
                    <h5 class="prev-indent-bot">Et accusam et justo duo dolores et ea rebum stet clita kasd.</h5>
                    <p class="indent-bot">Gubergren no sea takmata sanctus est Lorem ipsum dolor ametorem ipsum dolor.</p>
                    <a class="button" href="#">More</a> </div>
                </div>
              </div>
            </div>
            <div class="grid_6 omega">
              <div class="indent-left3">
                <div class="wrapper p3">
                  <figure class="img-indent"><img src="images/page4-img3.jpg" alt=""></figure>
                  <div class="extra-wrap">
                    <h5 class="prev-indent-bot">Et accusam et justo duo dolores et ea rebum stet clita kasd.</h5>
                    <p class="indent-bot">Gubergren no sea takmata sanctus est Lorem ipsum dolor ametorem ipsum dolor.</p>
                    <a class="button" href="#">More</a> </div>
                </div>
                <div class="wrapper">
                  <figure class="img-indent"><img src="images/page4-img4.jpg" alt=""></figure>
                  <div class="extra-wrap">
                    <h5 class="prev-indent-bot">Et accusam et justo duo dolores et ea rebum stet clita kasd.</h5>
                    <p class="indent-bot">Gubergren no sea takmata sanctus est Lorem ipsum dolor ametorem ipsum dolor.</p>
                    <a class="button" href="#">More</a> </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section> -->
  <!DOCTYPE html>
  <html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>CodePen - Movie Poster Interaction</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.7.0/hint.min.css'><link rel="stylesheet" href="products.component.css">
  </head>
  <body>
  <div *ngFor="let product of products" class="wrapper">
      <div class="card">
          <div class="poster"><img src={{product.img}} alt="Location Unknown"></div>
          <div class="details">
              <h1>{{product.name | slice: 25}}</h1>
              <h2>{{product.posted}}</h2>
              <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>{{product.rating}}</span>
              </div>
              <div class="tags">
                  <span class="tag">{{product.tag1}}</span>
                  <span class="tag">{{product.tag2}}</span>
                  <span class="tag">{{product.tag3}}</span>
              </div>
              <h2>Description:</h2>
              <p class="desc" *ngIf="!showFullDescription">{{ product.description | slice: 30 }}<span *ngIf="product.description.length > 60">...</span></p>
              <button class="view-more" (click)="toggleDescription()" *ngIf="product.description.length > 60">{{ showFullDescription ? 'Show Less' : 'Show More' }}</button>
              <p class="full-desc" *ngIf="showFullDescription">{{ product.description }}</p>
              <h2>Price: {{product.price}}</h2>
              <div *ngIf="isLogged" class="like-btn">
              <app-like-btn></app-like-btn>
            </div>
          </div>
      </div>
  </div>
  </body>
  </html>