
  <!DOCTYPE html>
  <html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>CodePen - Movie Poster Interaction</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.7.0/hint.min.css'><link rel="stylesheet" href="products.component.css">
  </head>
  <body>
    <div *ngIf="isLoading">
      <app-loader />
    </div>
    <div *ngFor="let product of products" class="wrapper">
      <div class="card">
          <div class="poster"><img src={{product.img}} alt="Location Unknown"></div>
          <div class="details">
              <h1>{{product.name}}</h1>
              <h2>{{product.posted}}</h2>
              <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>{{product.rating}}</span>
              </div>
              <div class="tags">
                  <span class="tag">{{product.tag1}}</span>
                  <span class="tag">{{product.tag2}}</span>
                  <span class="tag">{{product.tag3}}</span>
              </div>
              <h2>Description:</h2>
              <p class="desc" *ngIf="!showFullDescription">{{ product.description | slice: 30 }}<span *ngIf="product.description.length > 60">...</span></p>
              <button class="view-more" [routerLink]="['/product', product.name]" *ngIf="product.description.length > 60">{{ showFullDescription ? 'Show Less' : 'Show More' }}</button>
              <p class="full-desc" *ngIf="showFullDescription">{{ product.description }}</p>
              <h2>Price: {{product.price}}</h2>
              <div *ngIf="isLogged" class="like-btn">
              <app-like-btn></app-like-btn>
            </div>
          </div>
      </div>
  </div>
  </body>
  </html>