<body>
   <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div *ngIf="!isLogged" class="allText bottomText">
        <p class="text-blk subHeadingText">
            APRIL DISCOUNT
        </p>
        <p class="text-blk description">
           We have 10% discount for our products for April.If you want additional discount, you need to sign up or login.
        </p>
        <div class="buttons">
          <button routerLink="/login" class="explore">
            Login
          </button>
          <button routerLink="/register" class="explore">
            Register
          </button>
        </div>
        <marquee behavior="" direction="">You can view more about our products, if you make you account.</marquee>
      </div>
      <div *ngIf="isLogged"class="allText bottomText">
        <p class="text-blk subHeadingText">
            APRIL DISCOUNT
        </p>
        <p class="text-blk description">
           Congratulations! You have {{discount?.percent}}% discount for our products for April.</p>
           <p>Show this promocode in our shop to get your discount!</p>
        <p>Promocode : {{discount?.promocode}}</p>
        <marquee behavior="" direction="">You can view more about our products, if you make you account.</marquee>
      </div>
      