<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login in your profile</title>
  <link rel="stylesheet" href="login.component.css">
  <link rel="shortcut icon" href="logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
		<div class="container">
			<div class="login-box">
				
			  <form class="login" #form="ngForm" (ngSubmit)="login(form)">
				<div class="input-box">
					<i class="fa-solid fa-envelope"></i>
				  <input 
                  type="email"
                  name="email"
                  #inputEmail ="ngModel"
                  ngModel
				  required
				  [appEmail]="appEmailDomains"
                  />
				  <label>Email</label>
				</div>
            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">Invalid email!</p>
            </ng-container>
				<div class="input-box">
					<i class="fa-solid fa-lock"></i>
				  <input 
                  type="password"
                  name="password"
                  #inputPassword ="ngModel"
                  ngModel
                  required
				  [minlength]="6">
				  <label>Password</label>
				</div>
                <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least {{inputPassword.errors?.['minlength']['requiredLength']}} characters!</p>
            </ng-container>
            <button [disabled]="form.invalid" class="btn">Login</button>
				<div class="signup-link">
				  <button class="btn" routerLink="/register">Sign up</button>
				</div>
			  </form>
			</div>
		  </div>
</body>
</html>
		  