<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dimensional Nutritions</title>
</head>
<body>
    <div class="all">
        <div class="video-background">
            <video muted="true" loop autoplay src="assets/video1.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
    <section class="hero-section">
      <div class="container">
        <div class="wrapper">
            <svg>
                <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                    Dimensional Nutrition
                </text>
            </svg>
        </div>
        <div *ngIf="!isLogged">
        <p class="hero-subheading">If you want to use additional discounts, you can log in or register.</p>
        <div class="buttons">
            <button routerLink="/login" class="glow-on-hover" type="button">Login</button>
            <button routerLink="/register"class="glow-on-hover" type="button">Register</button>
        </div>
      </div>
       
      </div>
    </section>
    </div>
   

</body>
</html>