<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section>
	<div class="comment-sesion">
		<div class="post-comment">
			<div *ngFor="let comment of comments; let i = index" class="list">
				<div class="user">
					<div class="user-image"><img src="{{comment.img}}" alt="image"></div>
					<div class="user-meta">
						<div class="name">{{comment.name}}</div>
						<div class="days">{{comment.posted}} </div>
					</div>
				</div>
				<div class="comment-post">{{comment.comment}}</div>
				<div *ngIf="newCommentPosted && i === comments.length - 1" class="close-icon" (click)="closeNewComment(newCommentId)">X</div>
			</div> 
        </div>


		<div *ngIf="isLogged" class="comment-box">
			<div class="user">
				<div class="image"><img src="https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=612x612&w=0&k=20&c=dhV2p1JwmloBTOaGAtaA3AW1KSnjsdMt7-U_3EZElZ0=" alt="" class="profile-pic"></div>
				<div class="name"><p>{{username}}</p></div>
			</div>
			<div>
				<form [formGroup]="commentForm" (submit)="addComment($event)" method="post">
					<textarea formControlName="comment" placeholder="Your comment here."></textarea>
					<!-- Изписване на съобщението за задължително поле -->
					<p *ngIf="commentForm.controls['comment'].invalid && (commentForm.controls['comment'].dirty || commentForm.controls['comment'].touched)">
					  Comment is required.
					</p>
					<button type="submit" class="comment-submit" [disabled]="commentForm.invalid">Comment</button>
				  </form>
			</div>
		</div>
	</div>
</section>
</body>
</html>